*, *::after, *::before {
  user-select: none;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #3A86C5;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

input::placeholder {
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  outline: 0;
}

.app-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  grid-auto-flow: row;
  grid-template-columns: 1fr auto;
}

.app {
  border: 1px solid white;
  display: grid;
  place-items: center;
}

.app > div {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  position: relative;
  background: #4C6EB7;
}

.app > div::after {
  content: '';
  position: absolute;
  background: red;
}

.app > div.north::after {
  top: 0px;
  left: 25px;
  height: 25px;
  width: 1px;
}

.app > div.east::after {
  top: 25px;
  left: 25px;
  height: 1px;
  width: 25px;
}

.app > div.south::after {
  top: 25px;
  left: 25px;
  height: 25px;
  width: 1px;
}

.app > div.west::after {
  top: 25px;
  left: 0px;
  height: 1px;
  width: 25px;
}

.app > div.north.south::after {
  top: 0;
  left: 25px;
  height: 50px;
  width: 1px;
}

.app > div.east.west::after {
  top: 25px;
  left: 0px;
  height: 1px;
  width: 50px;
}

.app > div.north.east::after, .app > div.north.west::after, .app > div.south.east::after, .app > div.south.west::after {
  width: 27px;
  height: 27px;
  background: initial;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
}

.app > div.north.east::after {
  border-left-color: red;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: red;
  top: -1px;
  left: 25px;
}

.app > div.north.west::after {
  border-left-color: transparent;
  border-right-color: red;
  border-top-color: transparent;
  border-bottom-color: red;
  top: -1px;
  left: -1px;
}

.app > div.south.east::after {
  border-left-color: red;
  border-right-color: transparent;
  border-top-color: red;
  border-bottom-color: red;
}

.app > div.south.west::after {
  border-left-color: transparent;
  border-right-color: red;
  border-top-color: red;
  border-bottom-color: red;
  left: -1px;
}

.menu.controls {
  color: #ffffff;
  border-left: 2px solid white;
  padding: 20px;
  height: 100%;
  width: 320px;
  background: #4C6EB7;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}

.menu.controls h2 {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
}

.menu.controls option {
  background: #4C6EB7;
  letter-spacing: 1px;
}

.menu.controls option[disabled] {
  color: #333;
}

.menu.controls button, .menu.controls select, .menu.controls input {
  padding: 8px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: 0;
  background: transparent;
}

.menu.controls button, .menu.controls select {
  border-radius: 20px;
  border: 1px solid #CC9C17;
}

.menu.controls button:hover, .menu.controls button:focus {
  background: #CC9C17;
}

.menu.controls input {
  background: #3C5EA7;
}

.menu.controls .input-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.menu.controls .section {
  padding: 20px 0;
  border-bottom: 2px solid #CC9C17;
}

.menu.controls .section > h4 {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
}

.menu.controls .section > div {
  padding: 6px 0;
  width: 100%;
}

.menu.controls .function {
  width: 100%;
}

.menu.controls #search-replay {
  display: none;
}

.menu.controls #iterations {
  width: 40px;
}